{% extends 'layouts/base-gudang.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a><i></i>Panen</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Panen</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div class="text-left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".tambah-panen">
                      Tambah Data
                    </button>
                  </div>
                  <p></p>

                  <table class="table table-striped table-hover" id="tab" style="width:100%;">    
                    <thead>
                        <tr>
                          <th>Tanggal Panen</th>
                          <th>ID Mitra</th>
                          <th>Nama Mitra</th>
                          <th>Berat Bersih Hasil Panen</th>
                          <!-- <th>Catatan Kelayakan Hasil Panen</th> -->
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in panen %}
                        <tr>    
                          <td>{{item.tgl_panen|date:"Y-m-d"}}</td>                        
                          <td>RAJ-MITRA-{{item.id_mitra_id}}</td>
                          <td>{{item.id_mitra.nama_mitra}}</td>
                          <td>{{item.berat_hasil_panen}} kg</td>
                          <!-- <td>
                            <a style="text-decoration: None;">
                              <button class="btn btn-info" data-toggle="modal" data-target="#staticPerkembanganBackdrop{{item.id_panen}}">
                                Lihat
                              </button>                                   
                            </a>                            
                          </td> -->

                          <td>
                            <a style="text-decoration: None;" href="{% url 'gudang-panen_update' id=item.id_panen %}" >
                              <button type="button" class="btn btn-warning">
                                Edit
                              </button>
                            </a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#hapusModalPanen{{item.id_panen}}">
                              Hapus
                            </button>                                   

                            <a style="text-decoration: None;" href="{% url 'gudang-detail_mitra' id=item.id_mitra_id%}">
                              <button type="button" class="btn btn-info" >
                                Detail Mitra
                              </button>
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>


<!-- Modal Tambah Recording Panen -->
<div class="modal fade tambah-panen"  tabindex="-1" role="dialog" aria-labelledby="LargeModaltambah-panen" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Data Hasil Panen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy form_panen %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Tambah Data</button>

        </div>    
      </div>
    </form>
  </div>
</div>


<!-- Modal Hapus Recording Hasil Panen -->
{% for item in panen %}
<div class="modal fade" id="hapusModalPanen{{item.id_panen}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="hapusModalLabelPanen{{item.id_panen}}"
    aria-hidden="true" name="{{item.id_panen}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="hapusModalLabelPanen{{item.id_panen}}">Hapus Record Hasil Panen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Anda yakin ingin menghapus record hasil panen ini?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <form method="post" action="{%url 'gudang-panen_delete' item.id_panen %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus</button>
              </form>
          </div>
      </div>
  </div>
</div>
{% endfor %}


<!-- Modal Lihat Perkembangan Cacing -->
{% for item in panen %}
<div class="modal fade" id="staticPerkembanganBackdrop{{item.id_panen}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticPerkembanganBackdropLabel{{item.id_panen}}"
    aria-hidden="true" name="{{item.id_panen}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticPerkembanganBackdropLabel{{item.id_panen}}">Perkembangan Cacing</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              {{item.catatan_kelayakan_hasil_panen|safe}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
          </div>
      </div>
  </div>
</div>
{% endfor %}

{% endblock %}