{% extends 'layouts/base-gudang.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a><i></i>Barang Produksi Masuk</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Barang Produksi Masuk</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div class="text-left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".tambah-barang_masuk">
                      Tambah Barang Produksi Masuk
                    </button>
                  </div>
                  <p></p>

                  <table class="table table-striped table-hover" id="tab" style="width:100%;">    
                    <thead>
                        <tr>
                          <th>Tanggal Masuk</th>
                          <th>Nama Barang</th>
                          <th>Jumlah</th>
                          <th>Satuan</th>
                          <th>Keterangan</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in barang_masuk %}
                        <tr>                            
                          <td>{{item.tgl_masuk_gudang|date:"Y-m-d"}}</td>
                          <td>{{item.id_barang.nama_barang}}</td>
                          <td>{{item.kuantitas_masuk}}</td>
                          <td>{{item.id_barang.satuan}}</td>
                          <td>{{item.keterangan}}</td>
                          <td>
                            <a style="text-decoration: None;" href="{% url 'gudang-barang_masuk_update' id=item.id_barang_masuk %}" >
                              <button type="button" class="btn btn-warning">
                                Edit
                              </button>
                            </a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#hapusModalBarangMasuk{{item.id_barang_masuk}}">
                              Hapus
                            </button>                                   
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>



<!-- Modal Tambah  -->
<div class="modal fade tambah-barang_masuk"  tabindex="-1" role="dialog" aria-labelledby="LargeModaltambah-barang_masuk" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Barang Produksi Masuk</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Tambah Data</button>

        </div>    
      </div>
    </form>
  </div>
</div>


<!-- Modal Hapus  -->
{% for item in barang_masuk %}
<div class="modal fade" id="hapusModalBarangMasuk{{item.id_barang_masuk}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="hapusModalLabelBarangMasuk{{item.id_barang_masuk}}"
    aria-hidden="true" name="{{item.id_barang_masuk}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="hapusModalLabelBarangMasuk{{item.id_barang_masuk}}">Hapus Barang Produksi Masuk</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Anda yakin ingin menghapus record barang produksi masuk ini?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <form method="post" action="{% url 'gudang-barang_masuk_delete' id=item.id_barang_masuk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus</button>
              </form>

          </div>
      </div>
  </div>
</div>
{% endfor %}

{% endblock %}