{% extends 'layouts/base-gudang.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'gudang-barang_masuk' %}"><i ></i>Barang Produksi Masuk</a></li>
          <li class="breadcrumb-item"><a ><i ></i>BARIN{{barang_masuk_data.id_barang_id}}</a></li>
        </ol>
      </nav>
      <div class="card">
        <form method="POST" action="{% url 'gudang-barang_masuk_update' id=barang_masuk_model.id_barang_masuk %}">
          {% csrf_token %}

          <div class="card-header">
            <h4>Detail Barang Produksi Masuk</h4>
          </div>
          <div class="card-body">
              {% crispy form %}    
              <button class="btn btn-primary " type="submit">Update Data</button>
                    
          </div>
          <div class="card-footer text-right">
          </div>
        </form>

      </div>
    </section>
</div>
{% endblock %}