{% extends 'layouts/base-gudang.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'gudang-reminder' %}"><i ></i>Pesan Reminder</a></li>
          <li class="breadcrumb-item"><a ><i ></i>Detail Pesan</a></li>
        </ol>
      </nav>
      <div class="card">
        <form method="POST" action="{% url 'gudang-reminder_update' id=reminder_model.id_notifikasi %}">
          {% csrf_token %}

          <div class="card-header">
            <h4>Pesan Reminder</h4>
          </div>
          <div class="card-body">
              {% crispy form %}    
              <button class="btn btn-primary " type="submit">Edit</button>
                    
          </div>
          <div class="card-footer text-right">
          </div>
        </form>

      </div>
    </section>
</div>
{% endblock %}