{% extends 'layouts/base-gudang.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a><i></i>Progress Budidaya</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Progress Budidaya</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div class="text-left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".tambah-progress_budidaya">
                      Tambah Data
                    </button>
                  </div>
                  <p></p>

                  <table class="table table-striped table-hover" id="tab" style="width:100%;">    
                    <thead>
                        <tr>
                          <th>Tanggal Pengamatan</th>
                          <th>ID Mitra</th>
                          <th>Nama Mitra</th>
                          <th>Lokasi Budidaya</th>
                          <th>Penilaian Gudang</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in progress_budidaya %}
                        <tr>                            
                          <td>{{item.tgl_pengamatan|date:"Y-m-d"}}</td>
                          <td>RAJ-MITRA-{{item.id_mitra_id}}</td>
                          <td>{{item.id_mitra.nama_mitra}}</td>
                          <td>{{item.lokasi_budidaya}}</td>
                          {% if item.penilaian_gudang == 'TERKONTROL'  %}
                          <td>
                            <div class="badges">
                              <span class="badge badge-success">{{item.penilaian_gudang}}</span>
                            </div>
                          </td>
                          {% elif item.penilaian_gudang == 'PERLU PENGAWASAN' %}
                          <td>
                            <div class="badges">
                              <span class="badge badge-danger">{{item.penilaian_gudang}}</span>
                            </div>
                          </td>
                          {% endif %}
                          <td>
                            <a style="text-decoration: None;" href="{% url 'gudang-progress_budidaya_update' id=item.id_progress_budidaya %}" >
                              <button type="button" class="btn btn-warning">
                                Edit
                              </button>
                            </a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#hapusModalProgressBudidaya{{item.id_progress_budidaya}}">
                              Hapus
                            </button>                                   

                            <a style="text-decoration: None;" href="{% url 'gudang-detail_mitra' id=item.id_mitra_id%}">
                              <button type="button" class="btn btn-info" >
                                Detail Mitra
                              </button>
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>



<!-- Modal Tambah Recording Progress Budidaya -->
<div class="modal fade tambah-progress_budidaya"  tabindex="-1" role="dialog" aria-labelledby="LargeModaltambah-progress_budidaya" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Data Progress Budidaya</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy form_progress_budidaya %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Tambah Data</button>

        </div>    
      </div>
    </form>
  </div>
</div>


<!-- Modal Hapus Recording Pengamatan -->
{% for item in progress_budidaya %}
<div class="modal fade" id="hapusModalProgressBudidaya{{item.id_progress_budidaya}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="hapusModalLabelProgressBudidaya{{item.id_progress_budidaya}}"
    aria-hidden="true" name="{{item.id_progress_budidaya}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="hapusModalLabelProgressBudidaya{{item.id_progress_budidaya}}">Hapus Record Hasil Pengamatan</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Anda yakin ingin menghapus record hasil pengamatan ini?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <form method="post" action="{% url 'gudang-progress_budidaya_delete' id=item.id_progress_budidaya %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus</button>
              </form>

          </div>
      </div>
  </div>
</div>
{% endfor %}

{% endblock %}