{% extends 'layouts/base-gudang.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a ><i ></i>Kebutuhan Mitra Pra Budidaya</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Kebutuhan Mitra Pra Budidaya</h4>
              </div>
              <div class="card-body">
                <div class="text-left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".tambah-pra-budidaya">
                      Tambah
                    </button>
                </div>

                <p></p>
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tab" style="width:100%;">
    
                    <thead>

                        <tr>
                          <th>ID Mitra</th>
                          <th>Nama Mitra</th>
                          <th>Level Paket</th>
                          <th>Kuota Cacing</th>
                          <th>Kuota Pakan</th>
                          <th>Kuota Media Budidaya</th>
                          <th>Tgl Pengambilan Paket</th>
                          <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                      {% for item in pra_budidaya_query %}
                        <tr data-pk="{{item.id_pra_budidaya}}">
                          <td>RAJ-MITRA-{{item.id_mitra}}</td>
                          <td>{{item.nama_mitra}}</td>
                          <td>{{item.id_level_paket}}</td>
                          <td>{{item.id_level_paket.kuota_cacing}} kg</td>
                          <td>{{item.id_level_paket.kuota_pakan}} lt</td>
                          <td>{{item.id_level_paket.kuota_media_budidaya}} box</td>
                          <td>
                            {% if item.all_pra_budidaya %}
                                {% for prabudidaya in item.all_pra_budidaya %}
                                  {{ prabudidaya.tgl_pengambilan_paket }}
                                {% endfor %}
                            {% else %}
                              Belum Diambil.
                            {% endif %}
                          </td>
                          <td>
                            {% if item.all_pra_budidaya %}
                              {% for prabudidaya in item.all_pra_budidaya %}
                                <a style="text-decoration: None;" href="{% url 'gudang-pra_budidaya_update' id=prabudidaya.id_pra_budidaya%}" >
                                  <button type="button" class="btn btn-warning">
                                    Edit
                                  </button>
                                </a>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#hapusModal{{prabudidaya.id_pra_budidaya}}">
                                  Hapus
                                </button>   
                              {% endfor %}
                            {% endif %}

                          </td>

                        </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<!-- Modal Tambah Data Kebutuhan Mitra Pra Budidaya -->
<div class="modal fade tambah-pra-budidaya"  tabindex="-1" role="dialog" aria-labelledby="LargeModaltambah-pra-budidaya" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Data Kebutuhan Mitra Pra Budidaya</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Tambah Data</button>

        </div>    
      </div>
    </form>
  </div>
</div>

<!-- Modal Hapus Data Kebutuhan Mitra Pra Budidaya -->
{% for item in pra_budidaya_query %}
  {% if item.all_pra_budidaya %}
    {% for prabudidaya in item.all_pra_budidaya %}

<div class="modal fade" id="hapusModal{{prabudidaya.id_pra_budidaya}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="hapusModalLabel{{prabudidaya.id_pra_budidaya}}"
    aria-hidden="true" name="{{prabudidaya.id_pra_budidaya}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="hapusModalLabel{{prabudidaya.id_pra_budidaya}}">Hapus Data Kebutuhan Mitra Pra Budidaya</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Anda yakin ingin menghapus data pra budidaya ini?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <form method="post" action="{%url 'gudang-pra_budidaya_delete' prabudidaya.id_pra_budidaya %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus Data</button>
              </form>

          </div>
      </div>
  </div>
</div>
    {% endfor %}
  {% endif %}
{% endfor %}

{% endblock %}