{% extends 'layouts/base-mitra.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a><i></i>Status Keanggotaan</a></li>
        </ol>
      </nav>


      <div class="section-body">        
        <div class="row">
          <!-- <div class="col-sm-4">
            <div class="card author-box">
              <div class="card-body">
                <div class="author-box-center">
                  <img alt="image" src="{% static 'assets/img/users/user-3.png' %}" class="rounded-circle author-box-picture">
                  <div class="clearfix"></div>
                  <div class="author-box-name">
                    <p></p>
                    <h5>Heru Prasetyo</h5>
                  </div>
                </div>
                Profile picture upload button-->
                <!-- <div class="col text-center">
                  <p></p>
                  <a href="{% url 'mitra_profil' %}" class="btn btn-primary">Edit Data Profil</a>
                </div>
            
              </div>
            </div>
          </div> -->

          <div class="col-sm-5">
            <div class="card">
              <div class="card-header">
                <h4>Kartu Anggota Mitra</h4>
              </div>

              <div class="card-body">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-2 col-sm-2 col-xs-2 pr-0 pt-3">
                          <h2 class="font-18">{{mitra_model.nama_mitra}}</h2>
                          <h5 class="mb-3 font-15"><span class="col-red">ID: </span>RAJ-MITRA-{{mitra_model.id_mitra}}<br>    
                            <span class="col-red">Registrasi: </span>{{mitra_model.tgl_registrasi}}<br>    
                            <span class="col-red">Kontrak: </span>{{mitra_model.periode_kontrak}} Tahun</h5>    
                          </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="{% static 'assets/img/banner/logo_cv.png' %}" alt="">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="{% static 'assets/img/banner/6.png' %}" alt="">
                        </div>
                      </div>

                      <!-- <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 pl-0">
                        <div class="banner-img">
                          <img src="{% static 'assets/img/banner/6.png' %}" alt="">
                        </div>
                      </div> -->

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="card">
              <div class="card-header">
                <h4>Level Paket</h4>
              </div>

              <div class="card-body">
                <strong>Level Paket</strong> : {{mitra_model.id_level_paket}}<br>
                <strong>Kuota Cacing</strong> : {{mitra_model.id_level_paket.kuota_cacing}} kg<br>
                <strong>Kuota Media Budidaya</strong> : {{mitra_model.id_level_paket.kuota_media_budidaya}} sak<br>
                <strong>Biaya Paket</strong> : Rp. {{mitra_model.id_level_paket.biaya_paket|intcomma}}<br>
                <strong>Kuota Panen</strong> : {{mitra_model.id_level_paket.kuota_panen}} kg/bln<br>
                <strong>Harga Panen Terkini</strong> : Rp. {{mitra_model.id_level_paket.harga_panen|intcomma}} /kg<br>
              </div>


            </div>
          </div>

        </div>
        

      </div>
    </section>
</div>
{% endblock %}

<div class="col-sm-4">
  <div class="card">
    <div class="card-header">
      <h4>Status Pengambilan Paket</h4>
    </div>

    <div class="card-body">
      {% if pra_budidaya_model is not none %}                
        <strong>Jenis Cacing diterima</strong> : {{pra_budidaya_model.id_indukan_cacing.nama_indukan_cacing}} ({{pra_budidaya_model.kuantitas_pengambilan_cacing}} kg)<br>
        <strong>Jenis Pakan diterima</strong> : {{pra_budidaya_model.id_pakan.nama_pakan}} ({{pra_budidaya_model.kuantitas_pengambilan_pakan}} lt)<br>
        <strong>Jenis Media Budidaya diterima</strong> : {{pra_budidaya_model.id_media_budidaya.nama_media_budidaya}} ({{pra_budidaya_model.kuantitas_pengambilan_media_budidaya}} box)<br>
        <strong>Tanggal Pengambilan Paket</strong> : {{pra_budidaya_model.tgl_pengambilan_paket}}<br>
      {% else %}
        <strong>Jenis Cacing diterima</strong> : Belum Diambil<br>
        <strong>Jenis Pakan diterima</strong> : Belum Diambil<br>
        <strong>Jenis Media Budidaya diterima</strong> : Belum Diambil<br>
        <strong>Tanggal Pengambilan Paket</strong> : Belum Diambil<br>
      {% endif %}
    </div>
  </div>
</div>

