{% extends 'layouts/base-mitra.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'mitra_pelatihan' %}"><i ></i>Agenda Pelatihan</a></li>
          <li class="breadcrumb-item"><a ><i ></i>Detail</a></li>
        </ol>
      </nav>
      <div class="card">


          <div class="card-header">
            <h4>Detail Data Pelatihan</h4>
          </div>
          <div class="card-body">
            <div class="col-12">
              <div class="col-12">
                <div class="form-group">
                  <label style="font-size: 14px"><strong><u>Jenis Pelatihan</u></strong></label><br>
                  <label>{{pelatihan_jenis}}</label>
                </div>
                <div class="form-group">
                  <label style="font-size: 14px"><strong><u>Nama Pelatihan</u></strong></label><br>
                  <label>{{pelatihan_nama}}</label>

                </div>


                <div class="form-group">
                    <label style="font-size: 14px"><strong><u>Gelombang</u></strong></label><br>
                    <label>{{pelatihan_gelombang}}</label>
                </div>
                <div class="form-group">
                    <label style="font-size: 14px"><strong><u>Periode Pendaftaran</u></strong></label><br>
                    <label>{{pelatihan_awal_daftar}} sd {{pelatihan_akhir_daftar}} </label>
                </div>
                <div class="form-group">
                    <label style="font-size: 14px"><strong><u>Periode Pelatihan</u></strong></label><br>
                    <label>{{pelatihan_awal_mulai}} sd {{pelatihan_akhir_mulai}}</label>

                </div>
    
                <div class="form-group">
                  <label style="font-size: 14px"><strong><u>Kuota</u></strong></label><br>
                  <label>{{pelatihan_kuota}} Peserta</label>

                </div>
                <div class="form-group">
                  <label style="font-size: 14px"><strong><u>Contact Person</u></strong></label><br>
                  <label>{{pelatihan_cp}}</label>

                </div>
                <div class="form-group">
                  <form method="POST" action="{{pelatihan_link_daftar}}">
                    <button class="btn btn-primary mr-1" type="submit"><strong>DAFTAR</strong></button>
                  </form>                       
                </div>

              </div>

            </div>
        
          </div>
          <div class="card-footer text-right">

          </div>

      </div>
    </section>
</div>
{% endblock %}