{% extends 'layouts/base-mitra.html' %}


{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a ><i ></i>Notifikasi</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Notifikasi</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tab" style="width:100%;">
    
                    <thead>

                        <tr>
                          <th>Subjek</th>
                          <th>Pesan</th>
                          <th>Tanggal Masuk</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in notifikasi_query %}
                        <tr data-pk="{{item.id_notifikasi}}">
                          <td>{{item.judul|safe}}</td>
                          <td>{{item.pesan|safe}}</td>
                          <td>{{item.tgl_post}}</td>
                          {% if item.status_pelaksanaan == 'DONE'  %}
                          <td>
                            <div class="badges">
                              <span class="badge badge-success">{{item.status_pelaksanaan}}</span>
                            </div>
                          </td>
                          {% elif item.status_pelaksanaan == 'PROGRESS' %}
                            <td>
                              <div class="badges">
                                <span class="badge badge-danger">{{item.status_pelaksanaan}}</span>
                              </div>
                            </td>
                          {% endif %}
                          <td>
                            <a style="text-decoration: None;" href="{% url 'mitra_notifikasi_update' id=item.id_notifikasi %}" >
                              <button type="button" class="btn btn-warning">
                                Update Status
                              </button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

{% endblock %}