{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="#"> <img alt="image" src="{% static 'assets/img/logo_cv.png' %}" class="header-logo" /> <span
            class="logo-name">RAJ Organik</span>
        </a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Data Master</li>
        <li class="dropdown">
            <a href="{% url 'gudang-master_barang' %}" class="nav-link"><i data-feather="database"></i><span>Barang Produksi</span></a>  

        <li class="menu-header">Transaksi Barang</li>
        <li class="dropdown">
          <a href="{% url 'gudang-barang_keluar' %}" class="nav-link"><i data-feather="truck"></i><span>Barang Produksi Keluar</span></a>
        <li class="dropdown">
          <a href="{% url 'gudang-barang_masuk' %}" class="nav-link"><i data-feather="archive"></i><span>Barang Produksi Masuk</span></a>
  
        <li class="menu-header">Pemantauan & Pengawasan</li>
        <li class="dropdown">
          <a href="{% url 'gudang-list_mitra' %}" class="nav-link"><i data-feather="search"></i><span>Tracking Mitra</span></a>
        <li class="dropdown">
          <a href="{% url 'gudang-reminder' %}" class="nav-link"><i data-feather="mail"></i><span>Pesan Reminder</span></a>
        <li class="dropdown">
          <a href="{% url 'gudang-progress_budidaya' %}" class="nav-link"><i data-feather="monitor"></i><span>Progress Budidaya</span></a>
        <li class="dropdown">
          <a href="{% url 'gudang-panen' %}" class="nav-link"><i data-feather="monitor"></i><span>Panen</span></a>


      </ul>
    </aside>
  </div>