{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>CV RAJ Organik</title>
    <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/logo_cv.ico' %}">
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "includes/navigation-pegawai.html" %}

      {% include "includes/sidebar-gudang.html" %}

      <!-- Main Content -->
      {% block content %}
      {% endblock %}
      <footer class="main-footer">
        <div class="footer-left">
          <a>Copyright © Theo Credo 2023</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>

  <!-- JS Libraries -->
  <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets/js/page/datatables.js' %}"></script>
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

  <!-- JS Libraies -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
  <script src="{% static 'assets/bundles/codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static 'assets/bundles/codemirror/mode/javascript/javascript.js' %}"></script>
  <script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
  <script src="{% static 'assets/bundles/ckeditor/ckeditor.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets/js/page/ckeditor.js' %}"></script>

  <link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">

  <!-- Page Specific JS File -->
  <script src="{% static 'assets/js/page/advance-table.js' %}"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $('#tab').DataTable();
    }); 
    $(document).ready(function () {
      $('#tab2').DataTable();
    }); 

    // Handle delete button click
    $('.btn-delete').click(function() {
        var url = $(this).data('url');
        $('#deleteModal').find('form').attr('action', url);
        $('#deleteModal').modal('show');
    });

    // Handle confirm delete button click
    $('#deleteModal .btn-confirm').on('click', function() {
        var url = $('#deleteModal').find('form').attr('action');
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                $('#deleteModal').modal('hide');
                var row = $('#tab').DataTable().row($('#deleteModal').data('row'));
                row.remove().draw(false);
            },
            error: function() {
                alert('An error occurred. Please try again later.');
            }
        });
        // Delete the object from the database
        $.ajax({
            url: url,
            type: 'DELETE',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                console.log('Object deleted successfully');
            },
            error: function() {
                console.log('An error occurred while deleting the object');
            }
        });

    });

    // Handle delete modal close event
    $('#deleteModal').on('hidden.bs.modal', function() {
        $(this).find('form')[0].reset();
    });

    // Handle delete modal show event
    $('#deleteModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var row = button.closest('tr');
        $('#deleteModal').data('row', row);
    });



    // Handle delete button click
    $('.btn-update').click(function() {
        var url = $(this).data('url');
        $('#updateModal').find('form').attr('action', url);
        $('#updateModal').modal('show');
    });

    // Handle confirm delete button click
    $('#updateModal .btn-confirm').on('click', function() {
        var url = $('#updateModal').find('form').attr('action');
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                $('#updateModal').modal('hide');
                var row = $('#tab').DataTable().row($('#deleteModal').data('row'));
                row.remove().draw(false);
            },
            error: function() {
                alert('An error occurred. Please try again later.');
            }
        });
        // Delete the object from the database
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                console.log('Object deleted successfully');
            },
            error: function() {
                console.log('An error occurred while deleting the object');
            }
        });

    });

    // Handle delete modal close event
    $('#updateModal').on('hidden.bs.modal', function() {
        $(this).find('form')[0].reset();
    });

    // Handle delete modal show event
    $('#updateModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var row = button.closest('tr');
        $('#updateModal').data('row', row);
    });

    function openEditModal(id) {
      $.ajax({
        url: '/edit-modal/' + id + '/',
        type: 'get',
        dataType: 'html',
        beforeSend: function() {
          $('#edit-modal').modal('show');
        },
        success: function(data) {
          $('#edit-modal .modal-content').html(data);
        }
      });
    }


    $(document).ready(function () {
      $('#exportBtn').DataTable({
          "dom": "<'row'<'col-sm-6'l><'col-sm-6 text-right'B>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-5'i><'col-sm-7'p>>",

          "buttons": [
            {
              "extend": 'excel',
              "text": '<i class="fas fa-file-excel"></i> Excel',
              "className": 'btn',
              "exportOptions": {
                "columns": ':not(:last-child)'
              }
            },
            {
              "extend": 'pdf',
              "text": '<i class="fas fa-file-pdf"></i> PDF',
              "className": 'btn',
              "exportOptions": {
                "columns": ':not(:last-child)'
              }
            },
            {
              "extend": 'print',
              "text": '<i class="fas fa-print"></i> Print',
              "className": 'btn',
              "exportOptions": {
                "columns": ':not(:last-child)'
              }
            }
        ],     
      }); 
    }); 



  </script>


</body>

</html>