{% extends 'layouts/base-owner.html' %}

{% load static %}

{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-xl-4 col-md-12 col-lg-4">
            <div class="card">
              <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                  <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                      <div class="card-content">
                        <h5 class="font-15">Total Mitra</h5>
                        <h2 class="mb-3 font-18"><span class="col-red">{{total_mitra}}</span> mitra</h2>
                        <p class="mb-0">
                          <a href="{% url 'owner_list_mitra' %}">
                            <span >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                              </svg>
                            </span>
                          </a>Info Detail
                        </p>

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                      <div class="banner-img">
                        <img src="{% static 'assets/img/banner/6.png' %}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                  <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                      <div class="card-content">
                        <h5 class="font-15">Rata-rata Panen per Bulan</h5>
                        <h2 class="mb-3 font-18"><span class="col-orange">{{rata_rata_panen_per_bulan}}</span> kg</h2>
                        <p class="mb-0">
                          <a href="{% url 'owner_hasil_panen' %}">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                              </svg>
                            </span>
                          </a>Info Detail
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                      <div class="banner-img">
                        <img src="{% static 'assets/img/banner/7.png' %}"  alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-8 col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <h4>Statistik Grafik Level Paket</h4>
              </div>
              <div class="card-body">
                <ul class="list-inline text-center">
                </ul>
                <canvas id="myPieChart" width="650px" height="300px"></canvas>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h4>Statistik Grafik Hasil Panen</h4>
              </div>
              <div class="card-body">
                <div class="chartBox">

                  <div class="form-group">
                    <label>Filter Periode Grafik</label>
                    <div class="input-group">
                        <input type="number" id="year-filter" class="form-control" min="2000" max="2100" placeholder="masukkan tahun">
                      <div class="input-group-append">
                        <button id="filter-btn" class="btn btn-primary">Filter</button>
                        <button id="reset-btn" class="btn btn-primary">Reset</button>
                      </div>
                    </div>
                  </div>
                  <canvas id="myChart" width="30" height="15"></canvas>
        
                </div>

              </div>
            </div>
          </div>
        </div>



      </div>
    </section>
</div>

{% endblock %}