{% extends 'layouts/base-owner.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a ><i ></i>FAQ</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Frequently Asked Question</h4>
              </div>
              <div class="card-body">
                <div class="text-left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".tambah-faq">
                      Tambah
                    </button>
                </div>

                <p></p>
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tabel-responsive-search" style="width:100%;">
    
                    <thead>

                        <tr>
                          <th>Pertanyaan</th>
                          <th>Jawaban</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in faq_query %}
                        <tr data-pk="{{ item.id_faq }}">
                          <td>{{item.pertanyaan|safe}}</td>
                          <td>{{item.jawaban|safe}}</td>
                          <td>
                            <a style="text-decoration: None;" href="{% url 'owner_faq_update' id=item.id_faq %}" >
                              <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".edit-faq">
                                Edit
                              </button>
                            </a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop{{item.id_faq}}">
                              Hapus
                            </button>                                   
                          </td>
                        </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<!-- Modal Tambah Pakan -->
<div class="modal fade tambah-faq"  tabindex="-1" role="dialog" aria-labelledby="LargeModaltambah-faq" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Frequently Asked Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Tambah Data</button>

        </div>    
      </div>
    </form>
  </div>
</div>

{% for item in faq_query %}




  <!-- Modal Hapus FAQ -->
<div class="modal fade" id="staticBackdrop{{item.id_faq}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{item.id_faq}}"
    aria-hidden="true" name="{{item.id_faq}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel{{item.id_faq}}">Hapus FAQ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Anda yakin ingin menghapus FAQ ini?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <form method="post" action="{%url 'owner_faq_delete' item.id_faq%}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus Data</button>
              </form>

          </div>
      </div>
  </div>
</div>

{% endfor %}

{% endblock %}