{% extends 'layouts/base-admin.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-content">
    <section class="section">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-primary text-white-all">
          <li class="breadcrumb-item"><a ><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li class="breadcrumb-item"><a ><i ></i>Master User</a></li>
        </ol>
      </nav>

      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Akun Terdaftar</h4>
              </div>
              <div class="card-body">
                <div class="text-left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".tambah-user">
                      Tambah Akun Baru
                    </button>
                </div>

                <p></p>
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tab" style="width:100%;">
    
                    <thead>

                        <tr>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Kepemilikan Mitra</th>
                          <th>Kepemilikan Pegawai</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in user_query %}
                        <tr data-pk="{{item.id}}">
                          <td>{{item.username}}</td>
                          <td>{{item.email}}</td>
                          <td>{% if item.id_mitra %}{{ item.id_mitra }}{% else %}Tidak Ada{% endif %}</td>
                          <td>{% if item.id_pegawai %}{{ item.id_pegawai }}{% else %}Tidak Ada{% endif %}</td>
                          <td>
                            <a style="text-decoration: None;" href="{% url 'admin_user_update' id=item.id %}" >
                              <button type="button" class="btn btn-warning">
                                Edit
                              </button>
                            </a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#hapusModal{{item.id}}">
                              Hapus
                            </button>                                   
                          </td>
                        </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<!-- Modal Tambah User -->
<div class="modal fade tambah-user"  tabindex="-1" role="dialog" aria-labelledby="LargeModaltambah-user" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tambah Akun Baru</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Register</button>

        </div>    
      </div>
    </form>
  </div>
</div>

<!-- Modal Hapus User -->
{% for item in user_query %}
<div class="modal fade" id="hapusModal{{item.id}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="hapusModalLabel{{item.id}}"
    aria-hidden="true" name="{{item.id}}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="hapusModalLabel{{item.id}}">Hapus Master User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Anda yakin ingin menghapus data akun ini?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <form method="post" action="{%url 'admin_user_delete' item.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus Data</button>
              </form>

          </div>
      </div>
  </div>
</div>
{% endfor %}

{% endblock %}